<%- include('partials/register') %>

  <div class="card card0">
              <div class="row justify-content-center my-auto" id="back">
                  <div class="col-md-8 col-10 my-5" style="max-width: 400px;">
                      <div class="row justify-content-center px-3 mb-3" id="formback"> <img id="logo" src="./photos/logo.png"> </div>
                      <h1 id="join">Join us !!</h1>
                      
                      <form action="/register" method="POST">
                        <% const rang = message === 'Successfully registered'?'hara':'lal' %>
                      <% if(rang == 'lal'){ %>
                      <div class="text-center inputfield terms" style="color: red;">
                        <% if(message === ''){ %>
                        <p></p>
                        <% } else {%>
                        <p></p><%= message %>
                        <% } %>
                
                      </div>
                      <% }else{ %>
                        <div class="text-center inputfield terms" style="color: green;">
                          <p></p><%= message %>
                        </div>
                        <% } %>
                      <div class="form-group"> <label class="form-control-label text-muted">Full Name</label><input type="text" id="fname" name="fname" placeholder="Full Name" class="form-control" required></div>
                      <div class="form-group"> <label class="form-control-label text-muted">Username</label> <input type="email" id="email" name="username" placeholder="Email id" class="form-control" required> </div>
                      <div class="form-group"> <label class="form-control-label text-muted">Gender</label>
                        <select class="form-control" id="sel1" name="gender" >
                          <option>Male</option>
                          <option>Female</option>
                          <option>Other</option>
                        </select></div>
                      
                      <div class="form-group"> <label class="form-control-label text-muted">Password</label> <input type="password" id="psw" name="password" placeholder="Password" class="form-control" required> </div>
                      <div class="form-group"> <label class="form-control-label text-muted">Confirm Password</label> <input type="password" id="psw" name="confirm_password" placeholder="Confirm Password" class="form-control" required> </div>
                      <div class="row justify-content-center my-3 px-3"> <button type="submit" class="btn-block btn-color">Register to Dlog</button> </div>
                      </form>
                      <div class="text-center inputfield terms" style="color: #454646;">
                        <p></p><strong>Already have an account? </strong><a href="/login" style="color: #0C6C11;">Sign
                          in</a>
                      </div>
                  </div>
              </div>
              
      </div>
  
<%- include('partials/header') %>
